<%- include('../layouts/headerlogin') %>
<main id="main-container">
    <div class="content">
        <div class="d-md-flex justify-content-md-between align-items-md-center py-3 pt-md-3 pb-md-0 text-center text-md-start">
            <div>
                <h1 class="h3 mb-1">
                    Cộng tác viên
                </h1>
            </div>
            <div class="mt-4 mt-md-0">
                <a class="btn btn-sm btn-alt-primary" href="/ctv">
                    <i class="fa fa-angles-left"></i> Quay lại
                </a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="block block-rounded block-mode-loading-refresh">
            <div class="block-header block-header-default">
                <h3 class="block-title">
                    Người dùng
                </h3>
                <div class="block-options">
                    <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                        <i class="si si-refresh"></i>
                    </button>
                </div>
            </div>
            <div class="block-content">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-borderless table-vcenter fs-sm">
                        <thead>
                        <tr class="text-uppercase">
                            <th>ID</th>
                            <th>Họ tên</th>
                            <!-- <th class="d-none d-sm-table-cell text-end" style="width: 120px;">Đăng ký</th> -->
                        </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < listTuyenDuoi.length; i++) { %>
                            <tr>
                                <th colspan="1" ><%= listTuyenDuoi[i].email %></th>
                                <th colspan="1" ><%= listTuyenDuoi[i].ten %></th>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="row text-nowrap" id="js_paging">
                    <div class="col-sm-7 col-md-8 col-lg-9">
                        <div class="py-1">1 -&gt; 0 / 0</div>
                    </div>
                    <div class="col-sm-5 col-md-4 col-lg-3 text-end d-print-none">
                                                </div>
                </div>
            </div>
        </div>
    </div>
</main>
