<%- include('../layouts/headeradmin') -%>
<div class="col-md-8 col-lg-8 col-xl-4 offset-xl-4 btn">
    <a class="btn btn-primary btn-lg" href="/userlist">USERLIST</a>
    <a class="btn btn-primary btn-lg" href="/khoahoc">COURSELIST</a>
    <a class="btn btn-primary btn-lg" href="/admin/lenh-rut-tien">Quản Lý Rút Tiền</a>
</div>
