<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Kiếm tiền tiktok - Học tập xu hướng MMO</title>
    <meta name="description" content="Học kỹ năng tiếp thị số (Digital marketing) để nắm bắt xu hướng kinh doanh và đầu tư mới">
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/default/theme/../theme-custom/assets/media/favicons/apple-touch-icon-180x180.png">
    <link rel="stylesheet" href="js/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="js/plugins/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="js/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="js/plugins/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" href="js/plugins/flatpickr/plugins/monthSelect/style.css">
    <link rel="stylesheet" href="js/plugins/cropperjs/cropper.min.css">
    <link rel="stylesheet" href="js/plugins/ion-rangeslider/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css">
    <link rel="stylesheet" href="js/plugins/slick-carousel/slick.css">
    <link rel="stylesheet" href="js/plugins/slick-carousel/slick-theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
    <link type="text/css" rel="stylesheet" id="css-main" href="css/dashmix.min.css">
    <link rel="stylesheet" id="css-theme" href="css/themes/xeco.min.css">
    <link rel="stylesheet" href="css/main.css">
    <style>
        .toast-success { background-color: #0e4ae8; }
        .toast-warning { background-color: #f89406; }
        .prevent-downline{ word-break: normal; }
        .text-cart{ height: 71px; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 3; display: -webkit-box; -webkit-box-orient: vertical; }
        @media (max-width: 767px) { .table>:not(caption)>*>* { padding: 0.35rem 0.35rem; } }
    </style>
    <meta property="og:title" content="Kiếm tiền tiktok - Học tập xu hướng MMO">
    <meta property="og:description" content="Học kỹ năng tiếp thị số (Digital marketing) để nắm bắt xu hướng kinh doanh và đầu tư mới">
    <meta property="og:image" content="https://kiemtientictok.com/upload/course/2023/07/05/khoa-hoc-769252.jpg">
    <meta property="og:type" content="website"> <meta property="og:url" content=""> <meta property="og:image:alt" content="">
    <style>
        .popup_person_1_0_0 { position: fixed; z-index: 14; opacity: 0; left: 70px; bottom: 50px; padding: 10px 15px; border-radius: 50px; background: linear-gradient(45deg, rgb(76, 110, 245) 0%, rgb(21, 170, 191) 100%); display: flex; justify-content: space-between; color: #fff; }
        .popup_person_1_0_0__pic { width: 60px; height: 60px; border-radius: 50px; }
        .popup_person_1_0_0__box { padding-left: 15px; }
        .popup_person_1_0_0__pic img { width: 100%; border-radius: 100%; }
        .footer a { color: black; transition: color 0.3s ease; }
        .footer a:hover { color: green; } .zz { transition: opacity .25s ease-out; width: 100%; margin: 0 auto; padding: 1.25rem 0 1px; overflow-x: visible;}
        .zz.block-content-full { padding-bottom: 1.25rem; }
    </style>
</head>
<body>
<title>Đăng Nhập</title>
<section class="vh-100">
  <div class="container-fluid h-custom">
    <style>
  .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
</style>
<div id="page-container">
  <main id="main-container">
      <div class="bg-image" style="background-image:url(&#39;https://kiemtientictok.com/default/theme/assets/media/photos/photo19@2x.jpg&#39;);">
<div class="row g-0 justify-content-center bg-primary-dark-op">
  <div class="hero-static col-sm-8 col-md-6 col-xl-4 d-flex align-items-center p-2 px-sm-0">
      <div class="block block-transparent block-rounded w-100 mb-0 overflow-hidden">
          <div class="block-content block-content-full px-lg-5 px-xl-6 py-4 py-md-5 py-lg-6 bg-body-extra-light">
        <div class="mb-2 text-center">
          <a class="link-fx fw-bold fs-1" href="/login">
              <span class="text-primary">Đăng nhập</span>
          </a>
          <p class="text-uppercase fw-bold fs-sm text-muted">LÙA GÈ.COM</p>
      </div>
        <form id="main_form" action="/login" method="POST">
          <div class="mb-4">
              <div class="input-group input-group-lg">
                  <input type="text" class="form-control" id="email" name="email" placeholder="Email hoặc tên tài khoản" value="" autocomplete="off">
                  <span class="input-group-text">
                      <i class="fa fa-user-circle"></i>
                  </span>
              </div>
          </div>
          <div class="mb-4">
              <div class="input-group input-group-lg">
                  <input type="password" class="form-control" id="password" name="pass" placeholder="Mật khẩu" autocomplete="off">
                  <span class="input-group-text">
                      <i class="fa fa-asterisk"></i>
                  </span>
              </div>
          </div>
          <div class="d-sm-flex justify-content-sm-between align-items-sm-center text-sm-start mb-4">
              <div class="form-check d-flex gap-1 text-start">
                  <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me" checked="">
                  <label class="form-check-label" for="remember_me">Duy trì đăng nhập</label>
              </div>
              <div class="fw-semibold fs-sm py-1 text-end">
                  <a href="https://kiemtientictok.com/vi/password/forgot/">Quên mật khẩu?</a>
              </div>
          </div>
          <div class="mb-4">
              <button type="submit" class="btn w-100 btn-lg btn-hero btn-primary">
                  <i class="fa fa-fw fa-sign-in-alt opacity-50 me-1"></i>
                  Đăng nhập
              </button>
          </div>
          <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" value="03ADUVZwBtSyrs1_1P2JrOwrcjf4yDdU83Khl0c5STkxpKHBSqgmPvUJDywFJmAIF2xdY9eVHN8xsZPu1JiW-6SVzU_mkdzy4IT6c2FaYAeFR1AVYLymiOg8dzif2DeS8cVOrZd50a-wEnUWKaYxkx41iCP8Bxn6f8s37ndRUTqFqVFjIHQPkRxTetQmAeNW2U5MbB4KQ2q6dt-ObBAaU0gqup2ZUQiITQAwpf1UqKqIqIdjbsIQtO02mB_u4IQ4DSe_h6B_tykWyOy-622dalpCE2PnuxZdllR_-JD1LI-NMe7-tfo_9vt4Rri0gZajU7zUbSEFIoJN8svnmrf9rVkibsJt-X_K78ECbux5QDtRDUNy4dhLBB1vXznJFnV2IHP8kZ5xOCsTiZDv9Rb-zAVT1yYFXp6yMvPROtsrWZBGPLoXuTeLcrqisp99hrKYEeHYhX-kqsveIk3kksqyqWy5RgWOPk-ACrqhnEAwidEJg6GhA7yBGSMlYyBTagtiFpdX3Wm2wB3qjCeS_2_U1knHTTOickjoy5H8k0g5NpCm3FtysdS8od7S0oWjpf-p0uv4i4gZoOCuZ-llDdx-jx-e_s15SS7J7Dtz7uhUqNuOWbM3Ci146JMcdS06JG2yothW6YUzep1Y67BJeBgJ0ZRmHFKhoKo00kM7d7XWF7XC3Nhg98s8Iy6knOgDCKO7y6sXxbweCdWHw_urEgT41Ku_k1yp0TdPm3qkDyEXSN4oHxqi1W2Db8Nb4QoCxj_oZj8mQoX-0NWkUlUMBCWEdlVKK7HhlFg_I-MATd0R0XQi4xNCkeymyqlFZfYEoYJKpctpAV3aPhdQpQFjjf2NdSMY7Nh03HJ5_Y14SA4pDKsTXzv_x16100_FzqZQIpNitrKs-xOl7XSzz-VH6k3xvCkR5pTflBU9n4-DZVCHfmp2LIV51ewEARXHmVtqmBRltKP_rpvwqA74-iFRC3gs1YRmV9A1xgT-BQAWc0FJ4jc6asWsQ6a0FERIokCv0B5ZfIuWFLev-7hRF1asJtf57qaoWizWb8c_S9pk1T8JwqLKQWvAXUg3t88_BZNyEmyKQEEQ4vsoyovUjoX8MZRN0ywDuLoIvWbQT_2S4bS98XGkCdoYDi5VkgE5L5S3c-LeQ8kNkpx7dg0XFwOnjm013QRAO_hHvdr1JVZYz6RF_oX3_rTyGeV49Ww9tfWljyt86Xc07z7PkJSH-bCuRrKANEXkRwANBwy5U3S4vSoQ3L4crCf4WA1qeM2e5-18zagn9p3GBNXPdqYO3edgT24wRJs2JxuPWArpZDptIhfiNf7hjkPH93ujqLeztpPWivE0D09jOXb1kJ2jRy_IPCkjFSJeSRrsZtTCYBftqZH_Q56BgPBHO_R2phYE_sy7qXUH3vpZQcW-6OcLLwqdb2zWSJu9qbc-j9hj3Rnz_9dSI8UWspa6bnO2dxowK9u9So1-zFwEzZ_oh64WGG_kj8faDWwOQHNrV7ICSSuphgPuIOSo5JubTvOnh3LndBJbo085bDzIeqAZXx8lu378VKc59QC3HBvNYOaJThmA">
      </form>
      <p class="mb-0 d-flex flex-column-reverse flex-sm-row justify-content-sm-between">
        <a class="btn btn-sm btn-alt-secondary d-block d-lg-inline-block mb-1" href="/">
            <i class="fa fa-fw fa-home opacity-50 me-1"></i>
            Trang chính 
        </a>
        <a class="btn btn-sm btn-alt-secondary d-block d-lg-inline-block mb-1" href="/register">
            <i class="fa fa-fw fa-plus opacity-50 me-1"></i>
            Đăng ký 
        </a>
    </p>
      </div>
    </div>
  </div>
</div>
  </div>
  </main>
</div>
  </div>
</section>

</body>