<%- include('../layouts/headeradmin'); -%>
<div>
<h2>Update TK</h2>
<form action="/user/edit/<%= user._id %>" method="POST">

  <div class="mb-3">
    <input type="hidden" name="_id" value="<%= user._id %>" />
  </div>
  <div class="mb-3">
    <label class="form-label">TIỀN </label>
    <input type="input" value="<%= user.tien %>" class="form-control" name="tien" />
  </div>
  <button type="submit" class="btn btn-primary">Update TK</button>
</form>
</div>